/* color all links green, all main text black  0dba5c */
a { text-decoration: none; color: #0e5edc; }
a:hover { text-decoration: underline; color: #0e5edc; }
p, ul, ol, li, h1, h2, h3, h4, h5, h6 { color: #525252; }

/* heading tags */
h1, h2 { font-weight: bold; margin: 0px; padding: 0px }
h1 { color: #414141; font-size: 2.5em; padding-top: 20px; }
h2 { color: #414141; font-size: 1.8em; padding-top: 12px; }
h3 { color: #414141; font-size: 1.1em; }

/* page background colors */
html, body { background-color: #FFFFFF; }
